In [ ]:
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

The same thing from analysis.ipynb only for getting the data

In [ ]:
# Load the Excel file
workbook = openpyxl.load_workbook('./Milliyetlerine-gore-gelen-ziyaretciler-2022.xlsx')

# Select the desired sheet
sheet = workbook.worksheets[0]

# Find the "Toplam" row and retrieve the data
for row in sheet.iter_rows(values_only=True):
    if row[0] == 'Toplam':
        toplam_data = row[1:]
        break


# Find the row containing the years and retrieve the data
for row in sheet.iter_rows(values_only=True):
    if row[0] == 'MİLLİYET':
        years = row[1:]
        break


# Convert the 'toplam_data' values from string to integer (if necessary)
total_data = []
for data in toplam_data:
    if isinstance(data, str):
        data = int(data.replace(' ', '').replace(',', ''))
    total_data.append(data)

turist_years = pd.DataFrame(list(zip(years, total_data)), columns =['Years', 'Total Number'])
turist_years

    Years  Total Number
0    2006      19819833
1    2007      23340911
2    2008      26336677
3    2009      27077114
4    2010      28632204
5    2011      31456076
6    2012      31782832
7    2013      34910098
8    2014      36837900
9    2015      36244632
10   2016      25352213
11   2017      32410034
12   2018      39488401
13   2019      45058286
14   2020      12734213
15   2021      24712266

The same thing from analysis.ipynb only for getting the data

In [ ]:
# Find the row containing the years and retrieve the data
russia = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == 'Rusya Fed.':
        russia = row[1:]
        break

workbook.close()

# Load the Excel file
workbook = openpyxl.load_workbook("./exchange-rates.xlsx")

# Select the desired sheet
sheet = workbook.worksheets[0]

ruble = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == '(RUB) Rus Rublesi (Döviz Satış)':
        ruble = row[1:]
        break

workbook.close()

ruble = ruble [0:16]

dict = {'Years': years, 'Russian Turist': russia, 'Ruble': ruble} 
russia_ruble = pd.DataFrame(dict)
russia_ruble

    Years  Russian Turist     Ruble
0    2006         1853442  0.050000
1    2007         2465336  0.040000
2    2008         2879278  0.050000
3    2009         2694733  0.050000
4    2010         3107043  0.049306
5    2011         3468214  0.057067
6    2012         3599925  0.058005
7    2013         4269306  0.060089
8    2014         4479049  0.058273
9    2015         3649003  0.045046
10   2016          866256  0.045669
11   2017         4715438  0.062986
12   2018         5964613  0.076917
13   2019         7017657  0.088342
14   2020         2128758  0.097701
15   2021         4694422  0.121604

EXPLAIN WHAT WE DID IN HERE

The same thing from analysis.ipynb only for getting the data

In [ ]:
# Load the Excel file
workbook = openpyxl.load_workbook('./Milliyetlerine-gore-gelen-ziyaretciler-2022.xlsx')

# Select the desired sheet
sheet = workbook.worksheets[0]
# Find the row containing the years and retrieve the data
germany = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == 'Almanya':
        germany = row[1:]
        break

workbook.close()

# Load the Excel file
workbook = openpyxl.load_workbook("./exchange-rates.xlsx")

# Select the desired sheet
sheet = workbook.worksheets[0]

euro = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == '(EUR) Euro (Döviz Satış)':
        euro = row[1:]
        break

workbook.close()

euro = euro [0:16]

dict2 = {'Years': years, 'German Turist': germany, 'Euro': euro} 
german_euro = pd.DataFrame(dict2)
german_euro

    Years  German Turist       Euro
0    2006        3762475   1.808681
1    2007        4149805   1.786760
2    2008        4415525   1.904917
3    2009        4488350   2.160888
4    2010        4385263   1.998949
5    2011        4826315   2.333604
6    2012        5028745   2.315600
7    2013        5041323   2.530839
8    2014        5250036   2.911205
9    2015        5580792   3.023695
10   2016        3890074   3.345823
11   2017        3584653   4.123826
12   2018        4512360   5.672873
13   2019        5027472   6.359149
14   2020        1118932   8.042230
15   2021        3085215  10.487510

The same thing from analysis.ipynb only for getting the data

In [ ]:
# Load the Excel file
workbook = openpyxl.load_workbook('./Milliyetlerine-gore-gelen-ziyaretciler-2022.xlsx')

# Select the desired sheet
sheet = workbook.worksheets[0]
# Find the row containing the years and retrieve the data
england = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == 'İngiltere (Birleşik Krallık)':
        england = row[1:]
        break

workbook.close()

# Load the Excel file
workbook = openpyxl.load_workbook("./exchange-rates.xlsx")

# Select the desired sheet
sheet = workbook.worksheets[0]

sterlin = []
for row in sheet.iter_rows(values_only=True):
    if row[0] == '(GBP) İngiliz Sterlini (Döviz Satış)':
        sterlin = row[1:]
        break

workbook.close()

sterlin = sterlin [0:16]

dict3 = {'Years': years, 'British Turist': england, 'Sterlin': sterlin} 
british_euro = pd.DataFrame(dict3)
british_euro

    Years  British Turist    Sterlin
0    2006         1678845   2.652912
1    2007         1916130   2.614645
2    2008         2169924   2.395541
3    2009         2426749   2.425805
4    2010         2673605   2.327684
5    2011         2582054   2.688566
6    2012         2456519   2.853089
7    2013         2509357   2.986692
8    2014         2600360   3.614767
9    2015         2512139   4.173717
10   2016         1711481   4.102845
11   2017         1658715   4.714044
12   2018         2254871   6.420281
13   2019         2562064   7.267811
14   2020          820709   9.043677
15   2021          392746  12.235766

In [ ]:
# Read the Excel file
nationality_turist_years = pd.read_excel('Milliyetlerine-gore-gelen-ziyaretciler-2022.xlsx', header=2).dropna().drop_duplicates()
nationality_turist_years

,MİLLİYET,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Afganistan,14541.0,16919.0,11473.0,21508.0,12511.0,16395.0,15373.0,19704.0,22599.0,31983.0,50197.0,48668.0,56543.0,68681.0,30020.0,56300.0
2,Almanya,3762475.0,4149805.0,4415525.0,4488350.0,4385263.0,4826315.0,5028745.0,5041323.0,5250036.0,5580792.0,3890074.0,3584653.0,4512360.0,5027472.0,1118932.0,3085215.0
3,Amerika Birleşik Devletleri,532419.0,642911.0,679445.0,667159.0,642768.0,757143.0,771837.0,785971.0,784917.0,798787.0,459493.0,329257.0,448327.0,578074.0,148937.0,371759.0
5,Andorra,232.0,296.0,340.0,568.0,498.0,402.0,356.0,415.0,421.0,321.0,126.0,148.0,317.0,879.0,102.0,228.0
6,Angola,164.0,621.0,290.0,391.0,375.0,796.0,857.0,1458.0,2526.0,2019.0,1404.0,2015.0,3432.0,7719.0,1430.0,3657.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Yeşil Burun Adaları (Cape Verde),408.0,56.0,79.0,116.0,77.0,84.0,128.0,88.0,145.0,131.0,77.0,71.0,143.0,223.0,97.0,233.0
244,Yunanistan,413162.0,447950.0,572212.0,616489.0,670297.0,702017.0,669823.0,703168.0,830841.0,755414.0,593150.0,623705.0,686891.0,836882.0,136305.0,157723.0
245,Zambiya,223.0,218.0,280.0,7193.0,269.0,339.0,457.0,683.0,787.0,883.0,809.0,819.0,1021.0,1444.0,443.0,832.0
246,Zimbabve,265.0,251.0,286.0,251.0,274.0,379.0,515.0,753.0,1174.0,1678.0,1699.0,1842.0,2349.0,2716.0,910.0,1509.0
247,Toplam,19819833.0,23340911.0,26336677.0,27077114.0,28632204.0,31456076.0,31782832.0,34910098.0,36837900.0,36244632.0,25352213.0,32410034.0,39488401.0,45058286.0,12734213.0,24712266.0

The same thing from analysis.ipynb only for getting the data

In [ ]:

# Read the Excel file
df = pd.read_excel('./Copy of 113581,turizm-geliri-gideri-ve-ortalama-harcama-2004-2023xls.xlsx')


# Define the desired column names
columns = ['GELEN ZİYARETÇİ SAYISI', 'ÇIKAN ZİYARETÇİ SAYISI', 'TURİZM GELİRİ', 'ORTALAMA HARCAMA']

# Find closest matching column names
matched_columns = []
for col in columns:
    matched_col = df.columns[df.columns.str.contains(col, case=False)].tolist()
    if matched_col:
        matched_columns.append(matched_col[0])

# Select the matched columns and remove any leading/trailing whitespace in column names
df = df[matched_columns].rename(columns=lambda x: x.strip())

# Remove rows with missing values
df = df.dropna()

# Extract the 'YILLAR' column as an array
yillar = list(range(2003, 2024))

# Get all the necessary columns as arrays
gelen_ziyaretci_sayisi = df['GELEN ZİYARETÇİ SAYISI'].values
cikan_ziyaretci_sayisi = df['ÇIKAN ZİYARETÇİ SAYISI'].values
turizm_geliri = df['TURİZM GELİRİ'].values
ortalama_harcama = df['ORTALAMA HARCAMA'].values
turizm_geliri = [x * 1000 for x in turizm_geliri]


dict4 = {"Years" : yillar, "Incoming Visitors": gelen_ziyaretci_sayisi, "Outgoing Visitors": cikan_ziyaretci_sayisi, "Turism Revenue": turizm_geliri, "Average Spending": ortalama_harcama}
general_table = pd.DataFrame(dict4)
general_table

,Years,Incoming Visitors,Outgoing Visitors,Turism Revenue,Average Spending
0,2003,16463623.0,16302053,13854866000,850
1,2004,20753734.0,20262640,17076607000,843
2,2005,25045142.0,24124501,20322111000,842
3,2006,23924023.0,23148669,18593951000,803
4,2007,27239630.0,27214988,20942500000,770
5,2008,31137774.0,30 979 979,25415067000,820
6,2009,31759816.0,32 006 149,25064482000,783
7,2010,32997308.0,33027943,24930997000,755
8,2011,36769039.0,36151328,28115692000,778
9,2012,37715225.0,36463921,29689249000,814
10,2013,39860771.0,39226226,33073502000,843
11,2014,41627246.0,41415070,35137949000,848
12,2015,41114069.0,41617530,32492212000,781
13,2016,30906680.0,31365330,22839468000,728
14,2017,37969824.0,38620346,27044542000,700
15,2018,46112592.0,45628673,30545924000,669
16,2019,51747199.0,51860042,38930474000,751
17,2020,15971201.0,15826266,14817273000,936
18,2021,30038961.0,29357463,30173587000,1028
19,2022,51387513.0,51369026,46477871000,905
20,2023,7741423.0,8181566,8690505000,1062

In [ ]:
df = pd.read_excel('./TUFE-bazlı-reel-efektif-döviz-kuru.xlsx')
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df["Dönem"] = pd.to_datetime(df["Dönem"])
df["Dönem"] = df['Dönem'].dt.strftime('%Y')
df = df.groupby(["Dönem"]).mean()
df.drop('TÜFE-Gelişmekte Olan Ülkeler Bazlı Reel Efektif Döviz Kuru (2003=100)', inplace=True, axis=1)
df.drop(df.columns[1], inplace=True, axis=1)
TL = df

    Hypothesis Testing

We got the data from the parts above.
After that we extract the rows where the data is above average to determine if there is a correlation between TL and turism in Turkey.
After that we apply randomized test where we pick a random year from 3 of the arrays that contain above average data. Then we check if in that year we have above average visitors, spendings and TL below the endex taken from "Tüfe bazlı reel efektif döviz kuru". If all 3 checks out true then we put a 1 in the test_array indicating that there is a correlation, otherwise we put a 0 indicating not. After that we calculate the p-value and compare it with the significance level (0.05).

In [ ]:
import  random
import numpy as np


""" 
---> NULL: The depreciation of the Turkish lira leads to an increase in tourism in Turkey.
---> Altenative: The increase in the tourism in Turkey is not correlated with the depreciation of the Turkish lira.
"""

# get the rows that have incoming visitors above average
inc = general_table["Incoming Visitors"]
general_table_above_avg = pd.DataFrame(general_table[inc > inc.mean()])
years_incoming_visitor_above_avg = general_table_above_avg["Years"]

# get the rows that have average spending above average
spending = general_table["Average Spending"]
general_table_spending_above_avg = pd.DataFrame(general_table[spending > spending.mean()])

# get the rows with year when there are incoming visitors above the average
turist_years_above_avg = turist_years[turist_years['Years'].isin(years_incoming_visitor_above_avg)]
russia_ruble_above_avg = russia_ruble[russia_ruble['Years'].isin(years_incoming_visitor_above_avg)]
german_euro_above_avg = german_euro[german_euro['Years'].isin(years_incoming_visitor_above_avg)]
british_euro_above_avg = british_euro[british_euro['Years'].isin(years_incoming_visitor_above_avg)]
nationality_turist_years_above_avg = nationality_turist_years[nationality_turist_years.columns.intersection(years_incoming_visitor_above_avg)]
nationality_turist_years_above_avg.insert(0, 'MİLLİYET', nationality_turist_years["MİLLİYET"])



# getting the rows where the TL endex is below average
rate = TL["TÜFE  Bazlı Reel Efektif Döviz Kuru (2003=100) "]
TL_below = pd.DataFrame(TL[rate < rate.mean()])
TL_below_index = np.array(TL_below.index)
TL_below_index = TL_below_index.astype(np.int64)

# turning them into np arrays
general_spending_abv_avg = np.array(general_table_spending_above_avg["Years"])
general_abv_avg = np.array(general_table_above_avg["Years"])


 # Randomized test
test_array = []
# choose a random array from [above average spending, above average incoming visitors, TL below average endex]
# then choose a random year from that array
# Check if that year is in all 3 of the arrays listed above
# if yes append 1 to the test array which means there is a correlation between TL and turism
# else append 0 which means there is no correlation
for i in range(100):
    poss = random.randint(0,2)
    years = [general_spending_abv_avg, general_abv_avg, TL_below_index]
    year = years[poss][random.randint(0,len(years[poss])-1)]
    if year in general_abv_avg and year in general_spending_abv_avg and year in TL_below_index:
        test_array.append(1)
    else:
        test_array.append(0)
test_array = np.array(test_array)

# 1's are in the null hypothesis's favor
# 0's mean its wrong

p_value = len(test_array[np.where(test_array == 1)]) / len(test_array)
print("p-value: ", p_value)


alpha = 0.05

if p_value <= alpha:
  print("We reject Null Hypothesis")
else:
  print("We fail to reject Null Hypothesis!")

p-value:  0.07
We fail to reject Null Hypothesis!